{% extends "base.html" %}
{% block content %}
<main role="main" class="container">
        <div class="row">
            {% include "profile_card.html" with profile_info=profile_info %}
    
            <div class="col-md-9">                

                <!-- Начало блока с постом --> 
                {% for post in page %}
                    <div class="card mb-3 mt-1 shadow-sm">
                            <div class="card-body">
                                    <p class="card-text">
                                        <!-- Ссылка на страницу автора в атрибуте href; 
                                             username автора в тексте ссылки
                                        -->
                                        <a href="/{{ profile_info.user.username }}/">
                                            <strong class="d-block text-gray-dark">
                                                @{{ profile_info.user.username }}
                                            </strong>
                                        </a>
                                        <!-- Текст поста -->
                                        {{ post.text | linebreaksbr }}
                                    </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <!-- Ссылка на страницу записи в атрибуте href-->
                                            <a class="btn btn-sm text-muted" 
                                               href="/{{ profile_info.user.username }}/{{ page.start_index | add:forloop.counter0 }}/"
                                               role="button">Добавить комментарий
                                            </a>
                                            <!-- Ссылка на редактирование, показывается только автору записи -->
                                            {% if user.username == profile_info.user.username %}
                                                <a class="btn btn-sm text-muted"
                                                   href="/{{ profile_info.user.username }}/{{ page.start_index | add:forloop.counter0 }}/edit?next={{ request.path }}"
                                                   role="button">Редактировать
                                                </a>
                                            {% endif %}
                                        </div>
                                        <!-- Дата публикации  -->
                                        <!--<small class="text-muted">31 июля 1854 г. 0:00</small>-->
                                        <small class="text-muted">{{ post.pub_date }}</small>
                                        
                                    </div>
                            </div>
                    </div>
                {% endfor %}


                <!-- постраничная навигация пагинатора -->
                {% if page.has_other_pages %}
                        {% include "paginator.html" with items=page paginator=paginator %}
                {% endif %}

            </div>
        </div>
</main>

{% endblock %}