{% extends "base.html" %}
{% block title %}Избранные авторы{% endblock %}
{% block content %}
    {% include "menu.html" with follow=True %}
    
    {% if page %}
        <h1>Избранные авторы</h1>     
    {% else %}
        {% load static %}
        <div class="message-info">
            <img src="{% static 'img/nothing.png' %}"></img>
            <h1 class="header_minor">Здесь ничего нет</h1>
        </div>
    {% endif %}

    {% for post in page %}
        {% include "post_item.html" with post=post %}
    {% endfor %}
    {% if page.has_other_pages %}
        {% include "paginator.html" with items=page paginator=paginator%}
    {% endif %}

{% endblock %}